@model HeyTeam.Web.Areas.Coaches.Models.EventsViewModel
<h1>Events</h1>
<h3>Manage Players Attendance</h3>

<div>
    <div class="form-group">
        <label for="month">Month:</label>
        <input id="month" type="month" value=@($"{DateTime.Now.Year}-{(DateTime.Now.Month < 10 ? "0" : "")}{DateTime.Now.Month}")>
    </div>
    <div class="form-group">
        <label for="Squad" class="control-label">Squads:</label>
        <select id="Squad" name="Month" asp-items="Model.Squads"></select>
    </div>
</div>


<div class="table-responsive">
    <table id="eventsTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Squads</th>
                <th>Starts</th>
                <th>Ends</th>
                <th>Location</th>
                <th>Docs</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EventSummary) {
                <tr data-id="@item.Guid">
                    <td>
                        <a asp-area="Coaches" asp-action="Details" asp-route-eventId="@Html.ValueFor(modelItem => item.Guid)">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Squads)
                    </td>
                    <td class="text-center">
                        @item.StartDate.ToString("dd-MMM-yyyy")<br />@item.StartDate.ToString("ddd h:mm t")M
                    </td>
                    <td class="text-center">
                        @item.EndDate.ToString("dd-MMM-yyyy")<br />@item.EndDate.ToString("ddd h:mm t")M
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @(item.TrainingMaterialsCount > 0 ? item.TrainingMaterialsCount : null)
                    </td>
                    <td class="text-center"><a href="#"><span class="glyphicon glyphicon-hand-up" title="Attendance"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        //$('#Squads').select2();
    </script>
    <script type="text/javascript">
        $("#month").change(updateTable);
        $("#Squad").change(updateTable);

        function updateTable() {
            var date = $('#month').val().split('-');
            $("#eventsTable > tbody").empty();
            var url = "/api/events?month=" + date[1] + "&year=" + date[0];
            if ($('#Squad').val()) {
                url = url + "&squad=" + $('#Squad').val();                
            }

            $.ajax({
                method: "GET",
                url: url
            })
                .done(function (data) {
                    //console.log(data);
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var entry = data[i];
                            //console.log(entry);
                            var row = "<tr dataid='" + entry.guid + "'>";
                            row = row + "<td><a asp-area='Coaches' asp-action='Details' asp-route-eventId=" + entry.guid + ">" + entry.title + "</a></td>";
                            row = row + "<td>" + entry.squads + "</td>";
                            row = row + "<td>" + entry.startDate + "</td>";
                            row = row + "<td>" + entry.endDate + "</td>";
                            row = row + "<td>" + entry.location + "</td>";
                            row = row + "<td>" + entry.trainingMaterialsCount + "</td>";
                            row = row + "<td class='text-center'><a href='#'><span class='glyphicon glyphicon-hand-up' title='Attendance'></span></a></td>";
                            row = row + "</tr>";
                            $("#eventsTable > tbody").append(row);
                        }
                    }
                });
        }
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}