@model IEnumerable<HeyTeam.Core.Models.Assignment>
@{
    ViewData["Title"] = "Index";
}

<h2>Assignments</h2>
<h3>List</h3>
<div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" asp-controller="Assignments" asp-area="Administration" asp-action="New">Add New Assignment</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-4">Title</th>
                <th class="col-md-2">Assigned To</th>
                <th class="col-md-1">Created By</th>
                <th class="col-md-1">Created On</th>
                <th class="col-md-1">Date Due</th>
                <th class="col-md-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in Model)
            {
            <tr data-id="@assignment.AssignmentId">
                <td>@assignment.Title</td>
                <td>@assignment.Player.Name</td>
                <td>@assignment.Coach.Name</td>
                <td>@assignment.CreatedOn.ToString("dd MMM yyyy")</td>
                <td>@assignment.DateDue?.ToString("dd MMM yyyy")</td>
                <td class='text-center'>
                    <div class='dropdown'>
                        <button class='btn btn-default dropdown-toggle btn-sm' type='button' id='dropdownMenu1' data-toggle='dropdown' aria- haspopup='true' aria-expanded='true'>
                            <span class='caret'></span>
                        </button>
                        <ul class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdownMenu1'>
                            <li><button class="assignAgain btn btn-link"><span class="text-primary glyphicon glyphicon-hand-right"></span> Re-Assign</button></li>
                            @*<li><button class="assignmentHistory btn btn-link"><span class="text-primary glyphicon glyphicon-th-list"></span> History</button></li>*@
                        </ul>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
<script>
    $('.table-responsive').on('show.bs.dropdown', function () {
        $('.table-responsive').css("overflow", "inherit");
    });

    $('.table-responsive').on('hide.bs.dropdown', function () {
        $('.table-responsive').css("overflow", "auto");
    })

    $("button.assignAgain").click(function () {
        console.log("assigning again...");
    });

    //$("button.assignmentHistory").click(function () {
    //    console.log("checking history for this assignment...");
    //});
</script>
}