@model HeyTeam.Web.Models.EventDetailsViewModel
<h1>@($"{Model.Title}")</h1>
<h3>Event Details</h3>
<div class="row">
    <div class="col-md-4">
        <input type="hidden" asp-for="EventId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EventTypeDescription" class="control-label"></label>
            <input asp-for="EventTypeDescription" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Squads" class="control-label"></label>
            <select asp-for="Squads" class="form-control" multiple asp-items="Model.SquadList" disabled></select>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" readonly />
        </div>

        @if (Model.TrainingMaterials != null && Model.TrainingMaterials.Count() > 0) {
        <div class="form-group">
            <label asp-for="TrainingMaterials" class="control-label"></label>

            @foreach (var tm in Model.TrainingMaterials) {
        @*string item = "<div class='media' style='margin-top:10px; padding-bottom:10px'>" +
                        "<div class='media-left'><a href='" + tm.Url + "' target='_blank'><img class='media-object' style='max-height:40px;' src='" + tm.ThumbnailUrl + "' alt=''></a></div>" +
                        "<div class='media-body'><div class='img-changer-text'><a href='" + tm.Url + "' target='_blank'>" + tm.Title + "</a></div>(" + tm.ShortContentType + ")</div >" +
                    "</div>";
    @Html.Raw(item);*@
            
        <div class='media' style='margin-top:10px; padding-bottom:10px'>
            <div class='media-left'><a asp-area="Players" asp-controller="Tracking" asp-action="Library" asp-route-eventid="@Model.EventId" asp-route-trainingMaterialid="@tm.Guid" target='_blank'><img class='media-object' style='max-height:40px;' src='@tm.ThumbnailUrl' alt='cocojambo'></a></div>
            <div class='media-body'><div class='img-changer-text'><a asp-area="Players" asp-controller="Tracking" asp-action="Library" asp-route-eventid="@Model.EventId" asp-route-trainingMaterialid="@tm.Guid" target='_blank'>@tm.Title</a></div>(@tm.ShortContentType)</div>
        </div>
}
        </div>
}
        <div class="modal-footer">
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/dist/js/select2.min.js"></script>
    <script>
       $('#Squads').select2();        
    </script>
}

@section CSS {
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
}