@model IEnumerable<HeyTeam.Web.Models.EventsViewModels.EventListViewModel>
<h1>Events</h1>
<h3>Upcoming</h3>
<div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" asp-action="New">Add New Event</a>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form method="post" asp-action="Delete">
                <input type="hidden" id="eventId" name="eventId"/>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Event Deletion</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to this event?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" id="ConfirmDeleteButton" class="btn btn-danger" value="Delete" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                   @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Squads)
                </th>
                <th>
                    Starts
                </th>
                <th>
                   Ends
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th><span class="glyphicon glyphicon-book" title="Training Materials"></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
<tr data-id="@item.EventId">
    <td>
        <a asp-action="Edit" asp-route-eventId="@Html.ValueFor(modelItem => item.EventId)">@Html.DisplayFor(modelItem => item.Title)</a>
</td>
    <td>
        @Html.DisplayFor(modelItem => item.Squads)
    </td>
    <td class="text-center">
        @item.StartDate.ToString("dd-MMM-yyyy")<br/>@item.StartDate.ToString("h:mm t")M
    </td>
    <td class="text-center">
        @item.EndDate.ToString("dd-MMM-yyyy")<br />@item.EndDate.ToString("h:mm t")M
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>@(item.TrainingMaterials.HasValue && item.TrainingMaterials.Value > 0 ? item.TrainingMaterials : null)</td>
    <td><a href="#" class="deleteButton text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
</tr>
            }
    </tbody>
</table>
    </div>

@section Scripts {
<script type="text/javascript">
    $('a.deleteButton').on('click', function (e) {
        e.preventDefault();
        var id = $(this).closest('tr').data('id');
        $('#myModal').data('id', id).modal('show');
    });

    $('#ConfirmDeleteButton').click(function () {
        var id = $('#myModal').data('id');
        $("#eventId").val(id);
        $('#myModal').modal('hide');
    });
</script>
}