@model HeyTeam.Web.Models.EventAttendanceModel
<h1>@($"{Model.Title}")</h1>
<h3>Attendance</h3>
<span class="text-info">@($"{Model.EventType} {Model.StartDate.ToString("ddd dd-MMM-yyyy h:mm t")}M")<br />@($"{Model.Location}")</span>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-1">Squad</th>
                <th class="col-md-4">Player</th>
                <th class="text-center col-md-1">Present</th>
                <th class="text-center col-md-1">Late</th>
                <th class="text-center col-md-1">Left Early</th>
                <th class="text-center col-md-1">No Show</th>
                <th class="text-center col-md-2">Time Logged (mins)</th>
                <th class="text-center col-md-1">Feedback</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.EventPlayers) {
            <tr data-eventid="@player.EventGuid" data-squadid="@player.SquadGuid" data-playerid="@player.PlayerGuid" data-attendanceid="@(player.Attendance.HasValue ? (int?)player.Attendance : null)">
                <td>@player.SquadName</td>
                <td>@player.PlayerName</td>
                <td class="text-center"><button data-attendanceid="1" data-state="@(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.Present ? 1 : 0)" class="attendance btn @(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.Present ? " btn-success" : "btn-default" )" title="Present"><span class="glyphicon glyphicon-ok-sign"></span></button></td>
                <td class="text-center"><button data-attendanceid="3" data-state="@(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.Late ? 1 : 0)" class="attendance btn @(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.Late ? " btn-warning" : "btn-default" )" title="Late"><span class="glyphicon glyphicon-time"></span></button></td>
                <td class="text-center"><button data-attendanceid="4" data-state="@(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.LeftEarly ? 1 : 0)" class="attendance btn @(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.LeftEarly ? " btn-info" : "btn-default" )" title="Left Early"><span class="glyphicon glyphicon-exclamation-sign"></span></button></td>
                <td class="text-center"><button data-attendanceid="2" data-state="@(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.NoShow ? 1 : 0)" class="attendance btn @(player.Attendance.HasValue && player.Attendance == HeyTeam.Core.Attendance.NoShow ? " btn-danger" : "btn-default" )" title="No Show"><span class="glyphicon glyphicon-remove-sign"></span></button></td>
                <td class="text-center time-log">
                    @if(player.Attendance.HasValue && player.Attendance != HeyTeam.Core.Attendance.NoShow)
                    {
                    <form class="time-log">
                        <input class='form-control time-input input-sm' type='number' min='0' max='400' maxlength='3' value='@player.TimeLogged' readonly placeholder="0"/>
                        <button type='button' class='btn btn-default btn-sm editTimeLog' title="edit"><span class='glyphicon glyphicon-pencil'></span></button>
                    </form>
                    }
                </td>
                <td class="text-center"><button class="btn btn-default btn-sm editFeedback" title="A simple shell for an h1 to appropriately space out and segment sections of content on a page. It can utilize the h1's default small element, as well as most other components (with additional styles)."><span class="glyphicon glyphicon-comment text-success"></span></button></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
<script src="~/js/attendance.js"></script>
<script type="text/javascript">
    initializeAttendance();
    $("button.editFeedback").tooltip();
</script>
}

@section CSS {
<style type="text/css">
    .time-input
    {
        width:65px;
        display:inline;
        text-align:right;
    }
</style>
}