@model HeyTeam.Web.Models.LibraryViewModels.TrainingMaterialDetailsViewModel
@using HeyTeam.Util

<h1>@($"{Model.Title}")</h1>
<h3>Training Material Details</h3>
<div class="row">
    <div class="col-md-4">            
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" maxlength="100" readonly/>
         </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" maxlength="100" readonly></textarea>
        </div>
        <div class="form-group">
            <label asp-for="ShortContentType" class="control-label">Content Type</label>
            <input asp-for="ShortContentType" class="form-control" maxlength="100" readonly />
        </div>
        <div class="form-group">
            <label asp-for="ExternalId" class="control-label"></label>
            <input asp-for="ExternalId" class="form-control" maxlength="100" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Url" class="control-label"></label>
            <div class="input-group">                
                
                @if (Model.Url.IsEmpty() && Model.IsVideo) {
                <form asp-action="Resync" method="post">
                    <input type="hidden" value="@Model.Guid.Value" name="trainingMaterialId" />
                    <button type="submit" class="btn btn-warning "><span class="glyphicon glyphicon-warning-sign"></span> Sync with Vimeo</button>
                </form>} else {
                <input asp-for="Url" class="form-control" maxlength="100" readonly />
                <span class="input-group-btn">
                    <a href="@Model.Url" target="_blank" class="btn btn-default" title="@(Model.IsVideo ? "Watch Video" : "View/Downlaod")"><span class="glyphicon glyphicon-@(Model.IsVideo ? "play" : "download") text-success"> </span></a>
                </span> 
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ThumbnailUrl" class="control-label">Thumbnail</label>            
            @if (Model.ThumbnailUrl.IsEmpty() && Model.IsVideo) {
                <form asp-action="Resync" method="post">
                    <input type="hidden" value="@Model.Guid.Value" name="trainingMaterialId" />
                    <button type="submit" class="btn btn-warning "><span class="glyphicon glyphicon-warning-sign"></span> Sync with Vimeo</button>
                </form>
            } else {
                <img src="@(Model.ThumbnailUrl.IsEmpty() ? "/images/na.png" : Model.ThumbnailUrl)" class="media-object img-thumbnail" style="max-width:90px;" />
            }
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" maxlength="100" readonly />
        </div>

        <div class="modal-footer">
            <a href="/library" class="btn btn-default">Back to Library</a>
        </div>
        @if (Model.Errors?.Count > 0) {
            @foreach (var error in Model.Errors) {
                <div class="alert alert-danger" role="alert">@error</div>
             }
         }
    </div>
</div>
